// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #fff;
$gray-base: #181b1e;
$gray-100: #f0f3f5; // lighten($gray-base, 85%);
$gray-200: #e4e7ea; // lighten($gray-base, 80%);
$gray-300: #c8ced3; // lighten($gray-base, 70%);
$gray-400: #acb4bc; // lighten($gray-base, 60%);
$gray-500: #8f9ba6; // lighten($gray-base, 50%);
$gray-600: #73818f; // lighten($gray-base, 40%);
$gray-700: #5c6873; // lighten($gray-base, 30%);
$gray-800: #2f353a; // lighten($gray-base, 10%);
$gray-900: #23282c; // lighten($gray-base, 5%);
$black: #000;

$blue: #3490dc;
$indigo: #6610f2;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffc107;
$green: #4dbd74;
$teal: #20c997;
$cyan: #17a2b8;
$light-blue: #63c2de;

$primary: $blue;
$secondary: $gray-300;
$success: $green;
$info: $light-blue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #4875b4;
$google-plus: #d34836;
$flickr: #ff0084;
$tumblr: #32506d;
$xing: #026466;
$github: #4183c4;
$html5: #e34f26;
$openid: #f78c40;
$stack-overflow: #fe7a15;
$youtube: #b00;
$css3: #0170ba;
$dribbble: #ea4c89;
$google-plus: #bb4b39;
$instagram: #517fa4;
$pinterest: #cb2027;
$vk: #45668e;
$yahoo: #400191;
$behance: #1769ff;
$dropbox: #007ee5;
$reddit: #ff4500;
$spotify: #7ab800;
$vine: #00bf8f;
$foursquare: #1073af;
$vimeo: #aad450;
