// Configuración personalizada de CoreUI
@import 'tipografia';
@import 'colores';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// CoreUI
@import "~@coreui/coreui/scss/coreui";

.card-body h1, .h1 {
    @include font-size($h2-font-size);
}

.card-body h2, .h2 {
    @include font-size($h3-font-size);
}

.card-body h3, .h3 {
    @include font-size($h4-font-size*0.8);
}

.card-body h4, .h4 {
    @include font-size($h5-font-size*0.8);
}

.card-body img {
    width: 100%;
}

@import "progress-wizard";

.table-row, .table-row-blank td {
    cursor: pointer;
}

.table-cell-click .clickable {
    cursor: pointer;
}

// https://stackoverflow.com/a/27747130
.table > tbody > tr > td {
    vertical-align: middle;
}

// https://stackoverflow.com/a/48559492
@media print {
    .table td.bg-success {
        background-color: $success !important;
    }
    .table td.bg-warning {
        background-color: $warning !important;
    }
    .table td.bg-danger {
        background-color: $danger !important;
    }
    .table td.bg-secondary {
        background-color: $secondary !important;
    }
    .thead-dark th {
        background-color: $dark !important;
    }
    .table tr.bg-secondary > th, td {
        background-color: $secondary !important;
    }
}

// https://github.com/asyraf9/bootstrap-sidebar/issues/10#issuecomment-69191324
@media print {
    .c-sidebar {
        display: none;
    }
    .c-wrapper {
        margin-left: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
}
