// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Coreui
@import '~@coreui/coreui/dist/css/coreui.min.css';

.card-body h1, .h1 {
  @include font-size($h2-font-size);
}

.card-body h2, .h2 {
  @include font-size($h3-font-size);
}

.card-body h3, .h3 {
  @include font-size($h4-font-size*0.8);
}

.card-body h4, .h4 {
  @include font-size($h5-font-size*0.8);
}

.card-body img {
  width: 100%;
}

@import "progress-wizard";

.table-row, .table-row-blank td {
  cursor: pointer;
}

.table-cell-click .clickable {
  cursor: pointer;
}

// https://stackoverflow.com/a/27747130
.table > tbody > tr > td {
  vertical-align: middle;
}
