@import 'colores';

@page {
    footer: page-footer;
}

body {
    font-size: 8pt;
}

table {
    width: 100%;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

br {
    page-break-before: always;
}

h1 {
}

h2 {
    color: $dark;
}

.border-dark {
    border: 1px solid $dark;
}

.bg-success {
    background-color: $success;
}

.bg-warning {
    background-color: $warning;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-light {
    background-color: $light;
}

.bg-dark {
    background-color: $dark;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-dark {
    color: $dark;
}

.text-white {
    color: $white;
}

.p-0 {
    padding: 0;
}

.tabla-marcador-contenedor {
    border-spacing: 1em;
}

.tabla-marcador td,
.tabla-marcador th {
    border-left: 1px solid $dark;
    border-right: 1px solid $dark;
    padding: 1em;
}

.tabla-marcador th {
    border: 1px solid $dark;
}

.tabla-marcador td {
    font-size: 200%;
    border-bottom: 1px solid $dark;
    width: 5cm;
}

.tabla-datos td,
.tabla-datos th {
    padding: 0.5em 1em;
}

.tabla-datos th {
    background-color: $dark;
    color: $white;
}

.tabla-datos tr:nth-child(even) {
    background-color: $light;
    color: $dark;
}

.tabla-datos tr:nth-child(odd) {
    background-color: $white;
    color: $dark;
}
