.table-row, .table-row-blank td {
    cursor: pointer;
}

.table-cell-click .clickable {
    cursor: pointer;
}

// https://stackoverflow.com/a/27747130
.table > tbody > tr > td {
    vertical-align: middle;
}

// https://github.com/twbs/bootstrap/issues/38779
.table > :not(caption) > * > * {
    background-color: unset;
}
