.tarea-card > .card-header {
    color: $light;
    background-color: $dark;
}

.tarea-card, .tarea-card > .card-header {
    border-color: $border-color-dark;
}

@include color-mode(dark) {
    .tarea-card > .card-header {
        color: $gray-300;
        background-color: $secondary;
    }

    .tarea-card, .tarea-card > .card-header {
        border-color: $border-color-dark;
    }
}
