body {
  font-size: 8pt;
}

table {
  width: 100%;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

br {
  page-break-before: always;
}

h2 {
  color: #2f353a;
}

footer {
  padding-top: 3em;
}

.bg-success {
  background-color: #4dbd74;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-secondary {
  background-color: #c8ced3;
}

.bg-light {
  background-color: #f0f3f5;
}

.bg-dark {
  background-color: #2f353a;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-dark {
  color: #2f353a;
}

.text-white {
  color: #fff;
}

.p-0 {
  padding: 0;
}

.tabla-marcador-contenedor {
  border-spacing: 1em;
}

.tabla-marcador td,
.tabla-marcador th {
  border-left: 1px solid #2f353a;
  border-right: 1px solid #2f353a;
  padding: 1em;
}

.tabla-marcador th {
  border: 1px solid #2f353a;
}

.tabla-marcador td {
  font-size: 200%;
  border-bottom: 1px solid #2f353a;
  width: 5cm;
}

.tabla-datos td,
.tabla-datos th {
  padding: 0.5em 1em;
}

.tabla-datos th {
  background-color: #2f353a;
  color: #fff;
}

.tabla-datos tr:nth-child(even) {
  background-color: #f0f3f5;
  color: #2f353a;
}

.tabla-datos tr:nth-child(odd) {
  background-color: #fff;
  color: #2f353a;
}

