<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ikasgela</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        h2 {
            font-size: 130%;
        }
    </style>
</head>
<body class="container py-5">
<h1 class="mx-3">ikasgela</h1>
<hr class="bg-secondary rounded" style="height:0.25em;">
<div class="mx-3">
